* {
  box-sizing: border-box;
}


header,
section,
aside,
footer {
  padding: 1rem;
}

header h1 {
  margin-top: 0px;
}

header {
  background: palevioletred;
}

main {
  background:palevioletred;
  float: left;
  width: 60%;
  margin: 0;
  padding: 20px;
}

aside {
  background: yellow;
  width: 28%;
  float: right;
  overflow: auto;
  margin: 0;
}

footer {
  margin: 0;
  background: orange;
  clear: both;
}

body {
  background-color: #e2fcef;
  color: #36393b;
  font-size: 15px;
  font-family: Roboto;
}
.injected-text {
  margin-bottom: -25px;
  text-align: center;
}
h1 {
  font-family: Oxygen;
  color: #8ac6d0;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: Roboto;
  color: #63768d;
  font-weight: lighter;
  font-size: 20px;
}
body {
  width: 500px;
  margin: 0 auto;
}
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
}
.Varian-picture {
  width: 500px;
  height: 200px;
}
.injected-text {
  margin-bottom: -25px;
  text-align: center;
}
</style>