<style>
body {
  background-color: #e2fcef;
  color: #36393b;
  font-size: 15px;
  font-family: Roboto;
}
.injected-text {
  margin-bottom: -25px;
  text-align: center;
}
h1 {
  font-family: Oxygen;
  color: #8ac6d0;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: Roboto;
  color: #63768d;
  font-weight: lighter;
  font-size: 20px;
}
body {
  width: 500px;
  margin: 0 auto;
}
.thick-green-border {
  border-color: green;
  border-width: 10px;
  border-style: solid;
}
.Varian{
  width: 500px;
  height: 200px;
}
.injected-text {
  margin-bottom: -25px;
  text-align: center;
}
</style>