* {
  box-sizing: border-box;
}

/*main Styling*/

html,
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

header {
  background: #84c0c6;
  margin: 20px;
}

.Icon-email {
  padding-left: 20px;
  padding-bottom: 10px;
}

.Icon-linkedin {
  padding-left: 20px;
  padding-bottom: 20px;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 10 20 10 20;
}

.navbar {
  overflow: auto;
  color: #2e2c2f;
}

.navbar a {
  color: #2e2c2f;
  padding-top: 20px;
}

.navbar ul {
  list-style: none;
  float: center;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

.navbar ul li a:hover {
  background: #38aecc;
  color: #e2fcef;
}

header h1 {
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 6px;
  margin-right: 6px;
  color: #2e2c2f;
  font-size: 3.8rem;
  font-style: bold;
  text-shadow: 4px 4px 5px black;
  text-align: center;
  letter-spacing: 5px;
}

a {
  color: #2e2c2f;
  text-decoration: none;
}

main {
  background: #0090c1;
  float: right;
  width: 59%;
  margin: 0;
  padding: 10x;
  overflow: auto;
}

aside {
  background: #38aecc;
  width: 40%;
  float: left;
  overflow: auto;
  margin: 0;
  padding: 10px;
}

footer {
  margin: 20px;
  background: url(../img/birds.jpg);
  clear: both;
  text-align: center;
  margin-top: 30px;
}

body {
  background-color: #e2fcef;
}

.injected-text {
  margin-bottom: -25px;
  text-align: center;
}
h1 {
  color: #8ac6d0;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #63768d;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

.Varian-picture {
  border: 15px solid #36393b;
  width: 400px;
  height: auto;
  display: block;
  margin: auto;
}

.appo-picture {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

.blond-picture {
  width: 450px;
  height: auto;
  border-radius: 50%;
  float: center;
}

p {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #2e2c2f;
  font-family: Roboto;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  padding: 15px;
}

td {
  border: 1px solid #2e2c2f;
  padding: 10px;
}

.about-me {
  text-align: center;
}

.video-sol-cabetta {
  width: 400px;
  height: 300px;
  display: block;
  margin: auto;
}

.projects {
  float: left;
}

.skills {
  float: right;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}
#contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}
#contact-form textarea {
  height: 200px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
